.table-card{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: gray;
}

.custom-table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.search-card{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    border-style: solid;
    border-color: gray;
}

.search-form{
    margin:5px;
    padding-top: 2px;
}

.mat-header-cell {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

button.deleteButton{
    background-color: lightcoral;
}

button.editButton{
    background-color: lightblue;
}

button.purchaseButton{
    background-color: lightgrey;
}


