.title{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-shadow: -1px 1px 14px rgba(0,0,0,0.88);
}   

